{% extends "web_document_tracker/wrapper.html" %}
{% load static %}
{% block title %} Главная страница {% endblock %}
{% block content %}
    <div class="d-flex align-items-center justify-content-center vh-100 bg-light">
            <div class="text-center row">
                <div class=" col-md-6">
                    <h1 class="text-danger" style="font-size: 200px">404</h1>
                </div>
                <div class=" col-md-6 mt-5">
                    <p class="fs-3"> <span class="text-danger">Ой!</span> Такой страницы у нас нет ૮₍´˶• . • ⑅ ₎ა</p>
                    <p class="lead">
                        Страницу, которую вы запросили не удалось найти
                    </p>
                    <a href="{% url 'home' %}" class="btn btn-success">На главную</a>
                </div>

            </div>
        </div>
{% endblock %}