{% extends "web_document_tracker/wrapper.html" %}
{% load static %}
{% block title %} Политика конфиденциальности {% endblock %}
{% block style %}
    <style>
    span{
        font-style: italic;
        color: darkgreen;
    }
    </style>
{% endblock %}
{% block content %}
        <h4>
            <a href="javascript:history.back()" class="link-success text-decoration-none">
                <i class="bi bi-arrow-left-circle-fill"></i> Назад
            </a>
    </h4>
    <h3 class="text-center">Политика конфиденциальности сайта web_document_tracker</h3>
    <p>Мы в <span>web_document_tracker</span> очень ценим ваше доверие и обязуемся защищать конфиденциальность ваших данных. Регистрируясь на нашем сайте, вы предоставляете нам свои ФИО и адрес электронной почты. Мы обязуемся использовать эти данные исключительно для обеспечения качественного доступа к нашим услугам и информации.</p>
    <p>Мы не будем передавать ваши личные данные третьим лицам без вашего явного согласия. Мы принимаем все необходимые меры для защиты ваших персональных данных от несанкционированного доступа или использования.</p>
    <p>Пользуясь нашим сайтом, вы соглашаетесь с условиями нашей политики конфиденциальности. Мы оставляем за собой право вносить изменения в данную политику. Любые существенные изменения будут опубликованы на нашем сайте.</p>
    <p>Если у вас возникли вопросы по поводу обработки ваших данных или вы хотите удалить свою учетную запись, пожалуйста, свяжитесь с нами по указанной контактной информации.</p>
    <p>Спасибо, что выбрали <span>web_document_tracker!</span></p>
    <p class="text-light">Всё равно у вас не было выбора</p>
{% endblock %}